.primary {
    color: #3D3D3D;
}

.matte {
    color: #3D3D3D;
}

.blue {
    color: #48CDFF;
}

.green {
    color: #6BD600;
}

.red {
  color: #FC5050;  
}

.yellow {
    color: #FFE855;
}

.white {
    color: #FBFBFB;
}

.orange {
    color: #FF8800;
}